{% load static %}

<footer>
    <div class="footerCol">
        <div class="container-fluid">
            <div>
                <h4>Search Hotels, Flights & Holiday Packages</h4>
                <p>Cheap Hotels and Guest Houses in Popular Destinaltions</p>
                <p>Cheap Flights from Ghana to Popular Destinations</p>
            </div>
            <ul class="socialCol">
                <li><a href="https://web.facebook.com/"><img src="{% static 'images/fb.png' %}" alt="..."></a></li>
                <li><a href="https://www.instagram.com/"><img src="{% static 'images/insta.png' %}" alt="..."></a></li>
                <li><a href="https://twitter.com/home"><img src="{% static 'images/twitter.png' %}" alt="..."></a></li>
                <li><a href="https://www.linkedin.com/company/login/"><img src="{% static 'images/linkedin.png' %}" alt="..."></a></li>
                <li><a href="https://github.com/achie23"><img src="{% static 'images/github.png' %}" alt="..."></a></li>
            </ul>
            <div class="copyrightCol">
                <p>Copyright ©{% now 'Y' %}. Designed by Destiny Hall Technologies</p>
            </div>
        </div>
    </div>
</footer>