{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block extend_header %}{% endblock %}
    </head>
    <body>
        {% include 'djflights/partials/nav.html' %}
        
        {% block body %}{% endblock %}

        {% include 'djflights/partials/footer.html' %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        {% block extend_footer %}{% endblock %}
    </body>
</html>