{% extends "djflights/base.html" %}
{% load static %}

{% block title %}AirDjango Contact{% endblock %}

{% block extend_header %}{% endblock %}

{% block extend_footer %}{% endblock %}

{% block body %}
<section class="form-section">
    <div class="container">
        <h4 align="center" class="md-title">Contact Us</h4>

        <form class="contact-form" method="POST" , action="/contact/">
            {% csrf_token %}
            <label for="name">Name</label>
            {{form.name}}

            <label for="email">Email</label>
            {{form.email}}

            <label for="message">Message</label>
            {{form.message}}

            <button class='form-btn'>
                <input type="submit" value="Submit">
            </button>
        </form>
    </div>
</section>
{% endblock %}